//
//  mist-ios.xcconfig
//  mist-ios
//
//  Created by Adam Novak on 2022/05/16.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=0.1
DEVELOPMENT_TEAM=5JEM6D7V78
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_FILE=mist-ios/Info.plist
INFOPLIST_KEY_CFBundleDisplayName=mist
INFOPLIST_KEY_NSCameraUsageDescription=
INFOPLIST_KEY_NSContactsUsageDescription=
INFOPLIST_KEY_NSLocationWhenInUseUsageDescription=meep
INFOPLIST_KEY_NSPhotoLibraryAddUsageDescription=This app wants access to your photo library.
INFOPLIST_KEY_NSPhotoLibraryUsageDescription=
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchStoryboardName=Launch
INFOPLIST_KEY_UIMainStoryboardFile=Main
INFOPLIST_KEY_UISupportedInterfaceOrientations=UIInterfaceOrientationPortrait
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone=UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIUserInterfaceStyle=Light
IPHONEOS_DEPLOYMENT_TARGET=15.0
MARKETING_VERSION=0.1
PRODUCT_BUNDLE_IDENTIFIER=app.getmist.mist-ios
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
