<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91639374942-a9i6o5r83tn0t4n22b6p8i8rn2qjvcks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91639374942-a9i6o5r83tn0t4n22b6p8i8rn2qjvcks</string>
	<key>API_KEY</key>
	<string>AIzaSyA1zWS0bfAJcm_sxvQECPr5LBQj5lEu6G8</string>
	<key>GCM_SENDER_ID</key>
	<string>91639374942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.getmist.mist-ios</string>
	<key>PROJECT_ID</key>
	<string>mist-ios-d6761</string>
	<key>STORAGE_BUCKET</key>
	<string>mist-ios-d6761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:91639374942:ios:8effd2bcb5fb401af7c0cf</string>
</dict>
</plist>
